<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <!--<trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="MtGoxTrader.Trader.LogTraceListener, MtGoxTrader.Trader, Version=1.0.0.0" initializeData=".\log\logs.txt" />
        <remove name="Default" />
      </listeners>
    </trace>
    <switches>
      <add name="AgentTracer" value="4" />
    </switches>-->
  </system.diagnostics>
  <appSettings>
    <add key="apiKey" value=""/>
    <add key="apiSecret" value=""/>    
  </appSettings>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
